body {background-color: Purple;}
h1 {color: White; text-align: center;}
p {color: White; text-align: center;}
ul.a {color: White; text-align: center; list-style-type: circle; list-style-position: inside;}
.button {
  background-color: Pink;
  color: black;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  background-color: #dddddd;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:400px;
	width:400px;
}
iframe {
       display: block;
	   margin: 0 auto;
      }